<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128619632572-csqikuhpsmfs6clp871l2ve1d7vqp6hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128619632572-csqikuhpsmfs6clp871l2ve1d7vqp6hf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>128619632572-50nc245ghr0emi8dadr8a5leril7dodi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy0ND6I8WABYRgWmoqkSgHKV9dZ_r1FOE</string>
	<key>GCM_SENDER_ID</key>
	<string>128619632572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hatayiyasat.app</string>
	<key>PROJECT_ID</key>
	<string>savehatay</string>
	<key>STORAGE_BUCKET</key>
	<string>savehatay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128619632572:ios:38588d72e15e331cc6bdb9</string>
	<key>DATABASE_URL</key>
	<string>https://savehatay-default-rtdb.firebaseio.com</string>
</dict>
</plist>