rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {


  // function isAdmin() {
    //     return request.auth.uid != null
    //   }

  // function isAdmin() {
    //   return request.auth != null 
    //     && request.auth.email != null 
    //     && get(/databases/$(database)/documents/allowedAdminClaims/NJSU504TyhyMINFUdgwl).data.email == request.auth.email;
    // }


    function isAdmin() {
      return true
      // let adminDoc = get(/databases/$(database)/documents/adminList/config);
      // return request.auth.uid != null 
      //   && request.auth.email != null;
    }


    match /regionalCities/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /regionalTowns/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /adminList/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /approvedStoreCities/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /approvedCampaigns/{document} {
      allow read: if true;
      allow write: if true;
    }

    match /unApprovedCampaigns/{document} {
      allow read: if true;
      allow write: if true;
    }

    // Client
    match /specialAgency/{agency} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /news/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Admin

    match /towns/{document} {
      allow read: if true;
      allow write;
    }

    match /allowedAdminClaims/{document} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }

    match /approvedApplications/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /unApprovedApplications/{appId} {
      allow read: if isAdmin();
      allow write: if true;
    }

    match /notifications/{document} {
      allow read: if true;
      allow write;
    }

    match /developers/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /logs/{document} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }

    match /categories/{document} {
      allow read: if true;
      allow write;
    }

    match /scholarship/{scholarship} {
      allow read;
      allow write: if true;
    }

    match /chainStores/{chainStores} {
      allow read;
      allow write: if true;
    }

    match /usefulLinks/{document} {
      allow read;
      allow write: if true;
    }

  }
}
